/* Custom definitions for org-reveal */

.reveal pre {
  font-size: 1.1em;
  transform: translate(-20%, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

#code_PLAY {
  font-size: 0.7em;
}

#code_LANG {
  font-size: 1.0em;
}
